<% if current_user%>
  <div>
    <%= turbo_stream_from "notifications_#{current_user.id}" %>
    <%= turbo_frame_tag "notifications_#{current_user.id}" do%>
      <% notifications.each do |notification|%>
        <%=render "notifications/notification",
         notification: notification%>
      <% end %>
    <% end%>
  </div>
<% end %>