<div data-controller="carousel" class="relative w-full overflow-hidden">
  <div data-carousel-target="container" class="flex transition-transform duration-300 ease-in-out">
    <% reviews.each.with_index(1) do |review, index| %>
      <div data-carousel-target="slide" class="w-full flex-shrink-0">
        <div class="@container">
          <div class="w-full min-h-36 border-2 bg-neutral-200 ">
            <%=review.title%>
            <%=index%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
    <button data-action="carousel#previous" 
            class="rounded-full w-5 h-5 md:w-10 md:h-10 flex items-center justify-center transition-all duration-200 hover:scale-105">
      <span class="sr-only">Previous</span>
      ❮
    </button>
    <button data-action="carousel#next"
            class="rounded-full w-5 h-5 md:w-10 md:h-10 flex items-center justify-center transition-all duration-200 hover:scale-105">
      <span class="sr-only">Next</span>
      ❯
    </button>
  </div>
  <div class="absolute bottom-4 left-0 right-0">
    <div class="flex justify-center gap-2">
      <% reviews.count.times do |i| %>
        <button data-action="carousel#goToSlide"
                data-slide="<%= i %>"
                data-carousel-target="dot"
                class="w-3 h-3 rounded-full bg-white/90 hover:bg-white/80 transition-all duration-200">
          <span class="sr-only">Go to slide <%= i + 1 %></span>
        </button>
      <% end %>
    </div>
  </div>
</div>