<div>
  <h2 class="text-2xl text-center">
    Recent reviews
  </h2>
  <div class="my-4">
    <div class="grid gap-8 grid-cols-2 md:grid-cols-3">
      <% reviews.each do |review| %>
        <div class="col-span-1 w-full border block min-h-64">
          <h3 class="text-lg my-4 mx-2">
            <%= review.venue.name %>
          </h3>
          <h4 class="text-sm mx-2 text-center">
            <%= review.title %>
          </h4>
          <p class="text-xs m-2 line-clamp-3">
            <%= review.content %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>