<div class="my-4">
  <div class="@container/recent ">
    <div class="mx-auto px-4 w-1/2 min-w-82  sm:hidden">
      <%= render 'carousel', reviews: @reviews %>
    </div>
    <div class="hidden sm:flex px-4 max-w-7xl mx-auto ">
      <%= render 'recent_reviews', reviews: @reviews %>
    </div>
  </div>
</div>
