<div class="hover:bg-gray-200 w-full">
  <div class="flex place-items-center my-1  ">
    <div class="p-2 mr-2 hover:bg-gray-200 w-10 h-10 rounded-full overflow-hidden bg-amber-200">
    </div>
    <h4>
      <%=review.user.username%>
    </h4>
  </div>
  <div class="text-sm/5 my-6 indent-2 tracking-tight">
    <p>
      <%=review.content%>
    </p>
  </div>
</span>
</div>