<div>
  <h4 class="text-xl lg:text-3xl">
    Recenzje:
  </h4>
  <div class="my-4">
    <% if reviews.size > 0 %>
      <%reviews.each do |review|%>
        <%=render partial: "reviews_list_item", locals:{review: review}%>
      <% end%>
    <% else %>
      <div>
        Nikt jeszcze nie ocenil tego lokalu, bądź pierwszy
      </div>
    <%end%>
  </div>
</div>