<% if @venues.count == 0  %>
  <div class="col-span-12">Nie znaleźliśmy lokalu którego szukasz</div>
<% else %>
  <% venues.each do |venue|%>
    <%=render partial: "venue_list_item", locals:{venue: venue}%>
  <% end%>
<% end %>
<div class="justify-items-center">
  <div class="my-2 ">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>