<% if @venues.count == 0  %>
  <div class="col-span-12">Nie znaleźliśmy lokalu którego szukasz</div>
<% else %>
  <% venues.each do |venue|%>
    <%=render partial: "venue_card", locals:{venue: venue}%>
  <% end%>
<% end %>