<div class="@container/venues">
  <div class=" block sm:grid sm:grid-cols-12">
    <div class="col-span-12 sm:col-span-5 divide-y-1 divide-gray-100">
      <%=render partial: "venues_list", locals: {venues: @venues }%>
    </div>
    <div class="col-span-0 sm:col-span-7">
      MAP
    </div >
  </div>
</div>
