<div class="@container/venue">
  <div class="grid grid-cols-12 ">
    <div class=" flex items-end col-start-3 col-span-8 min-h-64">
      <div class=" ">
        <h3 class="text-2xl font-bold md:text-3xl lg:text-4xl"><%= @venue.name %></h3>
        <div class="text-xs md:text-lg lg:text-xl">
          5.0 / 6.0
        </div>
        <div class="mt-2 flex divide-x-2">
          <div class="text-sm ">
            Categories
          </div>
        </div>
      </div>
    </div>
    <div class="col-start-3 col-span-12 mt-6">
      <div class="flex">
        <div class="inline-block mx-2">
          Ocen
        </div>
        <div class="inline-block mx-2">
          Zapytaj
        </div>
        <div class="inline-block mx-2">
          Zdjecia
        </div>
      </div>
    </div>
  </div>
</div>
