<div class="flex flex-col items-center min-h-screen bg-gray-100 p-8">
  <div class="mx-7 border p-8 w-full max-w-4xl bg-white shadow-md rounded-lg dark:bg-surface-dark min-h-64">
    <div>
      <%= link_to "Wróć do lokalu", venue_path(@review.venue) %>
    </div>
    <div>
      <div class="my-3 text-xl flex items-center">
        <button tabindex="0" role="button" class="inline-flex items-center justify-center p-2 rounded-full hover:bg-gray-200 transition-colors">
          <div class="w-8 h-8 rounded-full overflow-hidden">
            avatar
          </div>
        </button>
        <h3>
          <%= @review.user.username%>
        </h3>
      </div>
      <div class="text-center text-4xl">
        <h2>
          <%= @review.title%>
        </h2>
      </div>
      <div class="my-4">
        <p class="text-lg leading-6 text-pretty indent-4">
          <%= @review.content%>
        </p>
      </div>
    </div>
    <div class="border-t my-5">
      <div class="text-center text-2xl py-2">
        ( 5.0 / 6)
      </div>
    </div>
  </div>
</div>