<footer class="bg-gray-800">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="col-span-1 md:col-span-2">
        <span class="text-white text-2xl font-bold">Knajping</span>
        <p class="mt-4 text-gray-300 text-sm">Odkryj i przejrzyj najlepsze miejsca w swoim mieście. Podziel się swoimi doświadczeniami i pomóż innym znaleźć świetne miejsca.</p>
        <div class="mt-6 flex space-x-6">
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-facebook-f text-xl"></i>
          </a>
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-twitter text-xl"></i>
          </a>
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-instagram text-xl"></i>
          </a>
        </div>
      </div>
      <div>
        <h3 class="text-sm font-semibold text-white tracking-wider uppercase">Szukaj</h3>
        <ul class="mt-4 space-y-4">
          <li><%=link_to "Lokale", venues_path, class:"text-gray-300 hover:text-white"%></li>
          <li><a href="#" class="text-gray-300 hover:text-white">Kategorie</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-sm font-semibold text-white tracking-wider uppercase">About website</h3>
        <ul class="mt-4 space-y-4">
          <li>
            <%=link_to "Creator", "https://maciejbentkowski.pl", class:"text-gray-300 hover:text-white"%>
          </li>
          <li>
            <%=link_to "Code", "https://github.com/maciejbentkowski/knajping", class:"text-gray-300 hover:text-white"%>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-700 pt-8">
      <p class="text-gray-400 text-sm text-center">&copy; 2025 Knajping. All rights reserved.</p>
    </div>
  </div>
</footer>
